

@font-face {
  font-family: 'A4 SPEED FONT';
  src: url('../../fonts/A4SPEED-Bold.ttf') format('truetype');
}


.alogo {
  color: #1abc9c;
  margin-left: 50px;
  text-decoration: none;
  background-color: none;
}




